

img {
    width: 150px;
    float: top;
    border-radius: 5px;
}

p {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}



button {
    background: transparent;
    border: 0;
}

button:hover {
    opacity: 0.7;
    cursor:pointer;
}

button:active {
    opacity: 0.4;
    cursor: pointer;
}

